会員一覧
<p>会員ID </p>
<p>氏名</p>
<p>メールアドレス</p>
<p>ステータス</p>
<% @customers.each do |customer| %>
<%= customer.id %>
<%= customer.name %>
<td><%= link_to admin_customer_path(customer.id) do %></td>
<% end %>
<%= customer.email %>
<%= customer.is_active %>

<% end %>
