<%= @customer.name %>さんの会員詳細
会員ID <%= @customer.id %>
氏名　<%= @customer.last_name %>　<%= customer.first_name %>
フリガナ　<%= @customer.last_name_kana %>　<%= customer.first_name_kana %>
郵便番号　<%= @customer.postal_code %>
住所　<%= @customer.address %>
電話番号　<%= @customer.telephone_number %>
メールアドレス　<%= @customer.email %>
会員ステータス　<%= customer.is_active %>
<td><%= link_to"編集する", edit_admin_customer_path do %></td>
<%= link_to"注文履歴一覧",admin_root_path do %>