<h4>注文情報入力</h4>
<strong>支払い方法</strong>
<%= form_with model:@order, url:orders_confirm_path, method: :post do |f| %>
<ul>
<li>
<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
<div class="bullet">
 <div class="line zero"></div>
 <div class="line one"></div>
 <div class="line two"></div>
 <div class="line three"></div>
 <div class="line four"></div>
 <div class="line five"></div>
 <div class="line six"></div>
 <div class="line seven"></div>
</div>
</li>
<li>
<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
<div class="bullet">
 <div class="line zero"></div>
 <div class="line one"></div>
 <div class="line two"></div>
 <div class="line three"></div>
 <div class="line four"></div>
 <div class="line five"></div>
 <div class="line six"></div>
 <div class="line seven"></div>
</div>
</li>
</ul>

<strong>お届け先</strong>
<ul>
<li>
  <%= f.radio_button :address_select, 0, checked: true %>
  <%= f.label "ご自身の住所" %>
 <div class="bullet">
 <div class="line zero"></div>
 <div class="line one"></div>
 <div class="line two"></div>
 <div class="line three"></div>
 <div class="line four"></div>
 <div class="line five"></div>
 <div class="line six"></div>
 <div class="line seven"></div>
</div>
</li>
<li>
 <%= current_customer.address %>
 <%= current_customer.name %>
</li>
</ul>
<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
<% end %>