<h3><strong><%= @item.name %></strong></h3>
<%= image_tag @item.get_image(100,100) %>
<%= @item.introduction %>
¥<%= (@item.price * 1.1).floor %>
<%= form_with model:@cart_item, url:cart_items_path, local: true do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.select :amount, *[1..10] %>
<%= f.submit "カートに入れる", class: "btn-sm btn-primary" %>
<% end %>