<!DOCTYPE html>
<html>
  <head>
    <title>Nagano cake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class=="shadow-sm">
    <a class="navbar-brand p-3" href="/"><%= image_tag('24738294_s.jpg') %></a>
    <!--顧客用ログイン-->
    <%if customer_signed_in? %>
    マイページ
    商品一覧
    カート
    <%= link_to "ログアウト",destroy_customer_session_path, method: :delete,class: 'btn btn-outline-secondary mx-3 my-1'%>
    <% end %>
    <!--管理用ログイン-->
    <% if admin_signed_in? %>
    <li>
      <%= link_to admin_items_path,class: 'btn btn-outline-secondary mx-3 my-1' do %>
      <i class="fa fa-shopping-bag"><span class="font">商品一覧</span></i>
      <% end %>
      <%= link_to "会員一覧",admin_customers_path,class: 'btn btn-outline-secondary mx-3 my-1'%>
      <%= link_to "注文履歴一覧",admin_path,class: 'btn btn-outline-secondary mx-3 my-1'%>
      <%= link_to "ジャンル一覧",admin_genres_path,class: 'btn btn-outline-secondary mx-3 my-1'%>
    <%= link_to "ログアウト",destroy_admin_session_path, method: :delete,class: 'btn btn-outline-secondary mx-3 my-1'%>
    <% else %>
      <li>
　　　　アバウト
　　　　商品一覧
　　　　新規登録
        <%= link_to "ログイン", new_admin_session_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
      </li>
    <% end %>
  </header>
  <%= yield %>
</body>
  <main></main>
  <footer>
  <p class="text-center">© 2022 09 nagano cake</p>
</footer>
</body>

</html>